page-projects-page {

  .icon-contact {
    font-size: 40px;
  }

  .navbar{
    text-align: center;
  }

  .add-project-button{
    padding-left: 20px;
  }


  .circle {
    height: 10px;
    width: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: 20px;
  }

  .circle-width{
    min-width:10% !important;
    max-width: 10% !important;
    margin-left: 10px;
  }

  .task-count {
    margin-right: 10px;
    min-width:10% !important;
    max-width: 10% !important;

  }
}
